<section class="carusel-section" [style.backgroundImage]="'url(' + caruselItems[activePadeIndex]?.bgUrl + ')'">

  <h2>применимость</h2>


  <div class="menu-slider">
    <div *ngFor="let menuItem of groups; let i = index"
         class="{{activeGroupIndex === i?'menu-item active-item':'menu-item'}}" (click)="changeActiveSlider(i)">
    <span class="menu-title">
      {{menuItem.title}}
    </span>
    </div>

  </div>
  <div id="app">

    <div class="swiper swiper-carousel">
      <swiper-container class="swiper-wrapper" ownerSwiper #swiper init="false" [config]="swiperConfig"
                        (mouseenter)="mouseEnter() " (mouseleave)="mouseLeave()">
        <swiper-slide class="swiper-slide" *ngFor="let slide of caruselItems; index as i" data-index="{{i}}">
          <div class="swiper-carousel-animate-opacity">
            <div class="slide-text-content">
              <h2>{{slide.title}}</h2>
              <p *ngFor="let text of slide.items">{{text}}</p>

              <button class="button-default">
                Подробнее
              </button>
            </div>
            <div class="image">
              <img [src]="slide.phoneImgUrl" alt="">
            </div>
          </div>
        </swiper-slide>
      </swiper-container>
    </div>
    <div class="swiper-pagination">
    <span *ngFor="let page of currentPagination;" (click)="paginate(page.id)"
          [class.swiper-pagination-bullet]="true"
          [class.swiper-pagination-bullet-active]="activePadeIndex === page.id">
    </span>
    </div>
  </div>
</section>

